/* 
	Global classes 
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Helvetica, sans-serif;
}

a {  
    color: black;
}

.unlinked {
    text-decoration: none;
}

#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar { /*Styles Header on albums.html*/
    color: darkslategray;
	background-color: aliceblue;
    text-align: center;
    text-shadow: 2px 2px #aaaaaa;
}

.head-bar-songs { /*Styles Header on songs.html*/
    color: darkslategray;
	background-color: aliceblue;
    max-height: 10%
}

.back-button { /*Styles button on song.html*/
	max-width: 15%;
    margin: 1%; 
}

.albumcoversongs {  /*Styles album image on songs.html*/
    
    max-width: 55%;
    margin: 2% 1% 3% 3%; 
    float: left;
    
}

.song-info {   /*Styles song info on songs.html*/
    
    text-align: left;
    padding: 2% 1%; 
    margin: 0;  
}

ol {          /*Styles list on songs.html*/
    
    margin-left: -6%;   
    max-width: 90%; 
    padding-bottom: 1%;
    max-height: 100%;
}

li {         /*Styles list elements on songs.html*/
    
    list-style-position: outside;
    border: 1px solid blue;
    margin-bottom: 1%;
    padding: 1%;
    font-size: 0.7em;
    text-align: left;
}
/* 
	Albums 
			*/

.albums-album-wrapper {     /*Styles album gallery and display on albums.html*/
    
    margin-top: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    float:left;
    max-width: 50%;
}

.albums-album-art {     
    
}

.albums-album-name {      /*Styles album names on albums.html*/
 
    font-size: 0.6em;
    margin: 0;
    color: black;
  
}

.albums-album-name>h2 { /*Styles album names on albums.html*/
    
    margin-bottom: 0;
}

.albums-artist-name {  /*Styles artist names on albums.html*/
    
    font-size: 0.8em;
    color: black;
}
    
.albums-artist-name >h3 { /*Styles artist names on albums.html*/
    
    margin-top: 0;   
}

.albumcover {             /*Styles album art on albums.html*/
 
    max-width: 80%;
}

/* 
	Songs 
			*/
.songs-info-wrapper {
	
}

.songs-album-art {
	
}

.songs-album-name {
	

}

.songs-artist-name {
	
}

.songs-text-info {
	
}

.songs-album-year {
	
}

.songs-list {
	
}

/* 
	Player 
			*/

.player-album-art-holder {
    text-align:center;
    max-height: 50%;
}

.player-album-art {
	max-width: 80%;
    margin:5% 5% 5% 5%;
}

.player-song-info {
	
}

#player-song-name {
	font-size: 1.15em;
    margin-bottom: 1%;
}

#player-song-artist {
	color: blueviolet;
    margin-top: 1%; 
}

input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    height: 0.5%;
    background-color: gainsboro;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border-radius: 1em;
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #00009a;
  height: 500%;
  width: 5.5%;
  border-radius: 100%;
  background: #ffffff;
  -webkit-appearance: none;
  
}

.track-buttons {
    background-color: white;
}
.volume-bar {
	height: 6px;
    width: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: inline-block;
    margin: 1% 1% 2.5% 1%;
}

.volume-bar-filled {
	height: 6px;
    width: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: blueviolet;
    display: inline-block;
    margin: 1% 1% 2.5% 1%;
}

.volume-level {
	text-align: center;
    margin: 2% 0;
}

#volume-down {
    background-color: white;
    float:left;
    width: 33%;
    margin-left: 5%;
    font-style: oblique;
}

#volume-up {
    background-color: white;
    float:right;
    width: 33%;
    margin-right: 5%;
    font-style: oblique;
}

.volume-rocker {
	
}

#player-controls {
    text-align: center;
}

.player-controls-icons {
    
}
#time-tracker {
    padding: 0 0 6% 0;
}

#player-time {
	float:right;
    font-size: 80%;
    margin-top: 1%;
    margin-right: 10%;
}

#time-elapsed {
	float: left;
    font-size: 80%;
    margin-top: 1%;
    margin-left: 10%;
}

#time-total{
	float: right;
}